<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">A1 Mart</p>
			<div class="list-group">
				<li class="list-group-item active">info 1</li>
				<li class="list-group-item">info 1</li>
				<li class="list-group-item">info 1</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<a class="btn btn-default pull-right" href="/campgrounds">Go back!</a>
				<img class="img-responsive xxx" src="<%= campground.image %>">
				<div class="caption-full">
					<h3 style="color: red;" class="pull-right">Rs. <%= campground.price %> - only/-</h3>
					<h3><a><%= campground.name %></a></h3>
					<!--<a class="btn btn-danger pull-right" href="#">Buy Now!</a>-->
					<!-- Button trigger modal -->
<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#basicExampleModal">
  Buy Now!
</button>
<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thanks for buying this product. Bika huaa maal vapas nahi hoga!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
					<p style="color: green;"><%= campground.description %></p>
					<hr>
					<p><em style="color: red;">Seller: </em><%= campground.author.username %>, <span style="color: grey;"><%= moment(campground.createdAt).fromNow() %></span></p>
					<% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
						<a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit!</a>
						<form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete!</button>
						</form>
					<% } %>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
				</div>
				<hr>
				<% campground.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span style="color: grey;" class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
							<p>
								<%= comment.text %>
							</p>
							<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
								<a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
								<form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<input type="submit" class="btn btn-xs btn-danger" value="Delete">
								</form>
							<% } %>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>